@import './styles.less';
@varcls: brand;
.@{varcls}-wrapper {
  background-color: rgb(30, 29, 50);
  min-height: 370px;
  .@{varcls} {
    height: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    will-change: transform; 
    padding: 44px 24px;
    >p {
      text-align: center;
    }
  }
  .img-wrapper {
    margin: 0 auto;
    left: 0;
    right: 0;
    .block {
      margin-bottom: 40px;
      .block-content {
        display: flex;
        border-radius: 4px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border: none;
        height: 64px;
        align-items: center;
        transition: box-shadow .3s @ease-out, transform .3s @ease-out;
        & > span {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{varcls}-wrapper {
    overflow: hidden;
    .@{varcls} {
      ul {
        li {
          display: block;
          width: 100%;
          padding: 2%;
          span {
            height: 168px;
          }
        }
      }
    }
  }
}

.title-wrapper {
  h1 {
    color: #fafafa;
  }
  
  margin: 0 auto 64px;
  text-align: center;
}