.testimonial-slide-wrapper {
    position: relative;
    overflow: hidden;
    height: 450px;
    transition: background 1s;
  }
  
  .testimonial-slide {
    margin: 40px auto;
    width: 600px;
    height: 370px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  
  .testimonial-slide-img-wrapper,
  .testimonial-slide-text-wrapper {
    color: #000000;
    width: 50%;
    display: inline-block;
    height: 100%;
  }
  
  .testimonial-slide-pic,
  .testimonial-slide-map {
    position: absolute;
  }
  
  .testimonial-slide-pic {
    width: 220px;
    top: 175px;
    left: 40px;
  }
  
  .testimonial-slide-map {
    width: 250px;
    top: 6px;
    left: 30px;
  }
  .testimonial-slide-map.map2{
    width: 200px;
    left: 50px;
  }
  
  .testimonial-slide-text-wrapper .banner-anim-elem {
    padding: 40px;
  }
  
  .testimonial-slide-text-wrapper h1 {
    font-size: 18px;
    margin: 5px auto;
  }
  
  .testimonial-slide-text-wrapper em {
    height: 2px;
    width: 60px;
    border-radius: 2px;
    display: block;
  }
  
  .testimonial-slide-text-wrapper p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .testimonial-slide-wrapper .anticon{
    position: absolute;
    font-size: 24px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
  }
  
  .testimonial-slide-wrapper .anticon-left{
    left: 5px;
    z-index: 999;
  }
  
  .testimonial-slide-wrapper .anticon-right{
    color: #000000;
    right: 5px;
  }
  @media screen and (max-width: 414px) {
    .testimonial-slide {
      transform: scale(.6) translateX(12px);
      transform-origin: left center;
    }
  }
  @media screen and (max-width: 375px) {
    .testimonial-slide {
      transform: scale(.55) translateX(7px);
    }
  }
  @media screen and (max-width: 320px) {
    .testimonial-slide {
      transform: scale(.46) translateX(12px);
    }
  }
